@font-face {
  font-family: "Tungsten-Bold";
  src: url("/Tungsten-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Tungsten-Semibold";
  src: url("/Tungsten-Semibold.ttf") format("truetype");
}

* {
  font-family: "Tungsten-Bold";
}

*:not(h1, h2, h3) {
  font-family: "Tungsten-Semibold";
}
